<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body,
        html{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background: url('https://addwill.addtoken.io/assets/images/chain.gif');
            text-align: center;
        }
        .titulo{color: white; text-align: center; font-size: 300%; margin:80px;}
    </style>
    <title>Document</title>
</head>
<body>
        <h1 class="titulo">{{index}}</h1>
</body>
</html>